.Courses {
   &__title {
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-left: 5px solid $color-red-buttons;
    padding-left: 2rem;
  }
  &__text {
    font-size: 1.7rem;
    font-weight: 400;
    color: $color-grey-dark-2;
    margin-bottom: 5rem;
  }
}