$main-background: rgb(247, 247, 247);
$white-background: rgb(255,255,255);
$footer-background: rgba(23, 26, 36, 0.95);
$copyright-footer-background: rgb(21, 23, 30);

$color-red-buttons: rgb(238, 0,0);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;